@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.woff), url(../fonts/Roboto-Light.woff2);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff), url(../fonts/Roboto-Regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
