.patient {
  margin-top: 90px;

  &__inner {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 40px;
    text-transform: uppercase;
  }
  &__items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  &__item {
    padding: 20px;
    border-radius: 30px;
    border: 1px solid $grey;
    background: $light-grey;

    &-img {
      max-height: 210px;
      display: flex;
      align-items: center;
      overflow: hidden;
      border-radius: 10px;
    }
    &-name {
      margin-top: 20px;
      font-size: 25px;
    }
    &-text {
      margin-top: 10px;
      font-weight: 300;
      font-size: 20px;
    }
  }
  &__btn {
    height: 51px;
    margin: 55px auto 0;
    padding: 0 23.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $white;
    text-transform: uppercase;
    background: $primary;
    border-radius: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .patient {
    &__inner {
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .patient {
    &__title {
      font-size: 30px;
    }

    &__item {
      &-name {
        font-size: 20px;
      }

      &-text {
        font-size: 16px;
      }
    }

    &__btn {
      height: 40px;
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .patient {
    margin-top: 40px;

    &__inner {
      padding: 0;
    }

    &__title {
      font-size: 24px;
    }

    &__items {
      margin-top: 10px;
    }

    &__item {
      padding: 11px;
      border-radius: 15px;

      &-img {
        max-height: 150px;
      }

      &-name {
        margin-top: 11px;
        font-size: 16px;
      }

      &-text {
        font-size: 14px;
      }
    }

    &__btn {
      margin-top: 30px;
      height: 32px;
      padding: 0 10px;
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .patient {
    &__items {
      grid-template-columns: repeat(4, 247px);
      gap: 10px;
      overflow-y: scroll;
    }

    &__item:last-child {
      margin-right: 10px;
    }
  }
}
