.transfer {
  margin-top: 22px;
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }

  &__item {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: $white;

    &-top {
      display: flex;
      align-items: center;
    }

    &-img {
      max-width: 83px;
      height: 87px;
      object-fit: contain;
    }

    &-title {
      margin-left: 40px;
      font-size: 30px;
      text-transform: uppercase;
    }

    &-bottom {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }

    &-btn {
      height: 41px;
      padding: 0 25.5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: $white;
      text-transform: uppercase;
      background: $primary;
      border-radius: 30px;
    }

    &-price {
      margin-left: auto;
      font-size: 25px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .transfer {
    br {
      display: none;
    }
    &__item {
      &-title {
        font-size: 24px;
      }
      &-price {
        font-size: 18px;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .transfer {
    br {
      display: none;
    }
    &__item {
      padding: 10px 20px;

      &-title {
        font-size: 20px;
      }
      &-price {
        font-size: 16px;
      }
      &-img {
        width: 37px;
        height: 46px;
      }

      &-btn {
        height: 40px;
        padding: 0 20px;
        font-size: 15px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .transfer {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    &__item {
      padding: 10px;
      border-radius: 25px;

      &-title {
        font-size: 18px;
        margin-left: 20px;
      }
      &-price {
        font-size: 15px;
      }
      &-btn {
        height: 25px;
        font-size: 13px;
        padding: 0 10px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .transfer {
    &__item {
      border-radius: 15px;
    }
  }
}
